<footer id="footer">
    <div class="container">
        <div class="footer-content">
            <h3>Bize Ulaşın</h3><br>
            <p><b>Email:</b>merhabaJaponya@gmail.com</p>
            <p><b>Phone:</b>0(212) 611 51 51</p>
        </div>
        <div class="footer-content">
            <h3><a href="/"><img src="\img\logo1.png" alt="logo1" width="140px"></a></h3>
             <ul class="list">
                <li><a href="/">Anasayfa</a></li>
                <li><a href="/geziRehberi">Gezi Rehberi</a></li>
                <li><a href="/basvuru">E-Bülten</a></li>
                <li><a href="#footer">İletişim</a></li>
             </ul>
        </div>
        <div class="footer-content">
            <h3>Bizi Takip Edin</h3>
            <ul class="social-icons"><br><br>
             <li><a href="#"><i class="fab fa-facebook"></i></a></li>
             <li><a href="#"><i class="fab fa-twitter"></i></a></li>
             <li><a href="#"><i class="fab fa-instagram"></i></a></li>
             <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
            </ul>
            </div>
    </div>
    </footer>

</body>

</html>