 <!--Menü-->

 <header>
    <nav>
        <a href="/"><img src="\img\logo1.png" alt="logo" width="140px"></a>
        <div class="menu">
            <ul>
                <li><a href="/">ANASAYFA</a></li>
                <li><a href="/geziRehberi">GEZİ REHBERİ</a>
                    <ul>
                        <li><a href="/tokyo">TOKYO</a></li>
                        <li><a href="/kyoto">KYOTO</a></li>
                        <li><a href="/osaka">OSAKA</a></li>
                        <li><a href="/fujidagi">FUJİ DAĞI</a></li>
                        <li><a href="/nara">NARA</a></li>
                        <li><a href="/hiroshima">HIROSHIMA</a></li>
                    </ul>
                </li>
                <li><a href="/yorum">YORUM</a></li>
                <li><a href="/basvuru">E-BÜLTEN</a></li>
                <li><a href="#footer">İLETİŞİM</a></li>
            </ul>
        </div>
    </nav>
</header>