<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gezi Rehberi-Kyoto</title>

    <link rel="shortcut icon" type="image/png" href="\img\logo2.png" />

    <link rel="stylesheet" type="text/css" href="\css\geziRehberi.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        #mainSlider {
            height: 350px;
            background: url('../img/japan2.jpg') center center no-repeat;
            background-size: cover;
            margin-bottom: 145px;
        }

        #mainSlider2 {
            height: 350px;
            background: url('../img/kyoto1.jpg') center center no-repeat;
            background-size: cover;
            margin-bottom: 145px;
            margin-top: 145px;
        }
    </style>

</head>

<body>

    <!--menu-->
<%- include ("partials/_menu")%>

    <!--main section-->

    <section id="mainSlider" class="slider">
        <div id="mainCaption" class="caption">
            <h3>KYOTO</h3>
            <p>Japonya'nın tarih ve kültürle öne çıkan şehri.</p>
        </div>
    </section>


    <div class="container-wrapper">

        <aside class="sidebar">
            <hr><br>
            <h2>GEZİ REHBERİ</h2>
            <hr><br>
            <br>
            <ul>
                <li><a href="/tokyo">TOKYO</a></li>
                <li><a href="/kyoto">KYOTO</a></li>
                <li><a href="/nara">OSAKA</a></li>
                <li><a href="/fujidagi">FUJİ DAĞI</a></li>
                <li><a href="/nara">NARA</a></li>
                <li><a href="/hiroshima">HIROSHIMA</a></li>
            </ul>
        </aside>


    <div class="rehberAciklama">
        <p>Japonya’nın tarihi şehirlerinden biri olan Kyoto, üst üste dünyanın en güzel şehri ünvanını almayı başarmış
            bir yerdir. Sadece tarihi olarak da değil kültür, mimari ve endüstri-ekonomi alanında da Japonya’nın ileri
            gelen şehirleri arasında yer alıyor </p><br><br><br>
        <h3>Tarihin ve Kültürün Birleşimi Kyoto</h3><br>
        <p>11 yüzyıl boyunca savaş, deprem ve yangın gibi doğal afetlerle baş eden şehir tahribata uğramasına rağmen
            tamamen kişiliğini kaybetmemiş ve ülkenin kültür olarak merkez özelliğini korumuştur. Şehir öyle bir tarihi
            değere sahiptir ki atom bombası atılan şehirler listesinden çıkartılmış ve yıkımdan da kurtulmuştur. Bu
            kültür bakımından gelişmişlik sebebi ile Japonya Hükümeti Kültür İşleri Ajansı da 2021 yılında Kyoto’ya
            taşımaya karar vermiştir. UNESCO tarafından dünya miraslarına alınan 17 tane tarihi anıt Kyoto’da
            bulunmaktadır ve bunların 13 tanesi Budist Tapınağı, 3’ü Şinto Mabeti ve kalan 1’i ise kaleden oluşmaktadır.
        </p><br><br><br>
        <h3>Kyoto’da Ulaşım ve Konaklama</h3><br>
        <p>Kyoto havalimanı olmayan bir şehirdir ama küçük olduğu bakımından ihtiyaç da duyulmaz. Havaalanı tercih
            edilmesi durumunda Osakada’ki Kansai havaalanına ulaşarak oradan da otobüs-tren ile Kyoto’ya ulaşım
            sağlanmaktadır ayrıca Osakada’ki Shinkansen hızlı tren ile 1,5 saatlik olan yolu 15 dakikaya
            indirebilirsiniz. Tokyo istikameti üzerinden de aynı şekilde tren kullanarak Kyoto’ya 1,5-2 saatte ulaşmak
            mümkündür. Şehir içi ulaşımın sağlanmasında ise metro seferleri her yere yapılmadığı için otobüsler tercih
            edilmektedir.</p>

            
            <section id="mainSlider2" class="slider"> <div id="mainCaption" class="caption"></div></section>
    </div>
    </div>

      <!--Footer-->
   <%- include ("partials/_footer")%>