* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
}

body,
html {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Barlow', sans-serif;
}

nav {
    padding: 5px 7%;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

nav .menu {
    float: right;
}

nav .menu ul {
    list-style: none;
}

header .menu ul li {
    position: relative;
    float: left;
}

nav .menu ul li a {
    font-size: 20px;
    padding: 27px 17px;
    color: black;
    display: block;
    text-decoration: none;
    transition: all .5s ease;
}

nav .menu ul li a:hover {
    color: rgb(167, 14, 14);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

nav .menu ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background-color: white;
    display: none;
}

nav .menu ul li ul li {
    width: 100%;
    border-top: 1px solid white;
}

nav .menu ul li:hover>ul {
    display: initial;
}

footer{
    background: #00394f;
    padding-top: 50px;
    padding-bottom: 25px;
}

.container{
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.footer-content{
    width: 33.3%;
}

.footer-content h3{
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
    color: white;
}

.footer-content p{
    width:190px;
    margin: auto;
    padding: 7px;
    color: white;
    text-transform: none;
}

.footer-content ul{
    text-align: center;
    text-decoration: none;
    color: white;
}

.list a{
    text-decoration: none;
    color: white;
    text-align: center;
    letter-spacing: 2px;
    transition: .3s ease;
    list-style-type:none;
    padding: 7px;
    position: relative;
    width: auto;
}

.list a:hover{
    color: rgb(167, 14, 14);
}

.list li{
    width: auto;
    text-align: center;
    list-style-type:none;
    padding: 7px;
    position: relative;
    text-decoration: none;
    color: white;
}


.social-icons{
    text-align: center;
    padding: 0;
}

.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}

.social-icons i{
    color: white;
    font-size: 25px;
}

.social-icons i:hover{
    color: rgb(167, 14, 14);
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.input-box {
    margin-bottom: 20px;
}

.input-field {
    position: relative;
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

label {
    display: block;
    margin-bottom: 10px;
}

textarea #comment{
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    justify-content: center;
    position: relative;
    resize: none;
}

/* İkonları düzenleme */
.bx {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    color: #333;
}





#commentList {
    margin-top: 20px;
}

#commentList div {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}

#commentList strong {
    color: #333;
}

.commentItem {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    position: relative;
}

.deleteButton {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #ff5c5c;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}