* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
}

body,
html {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Barlow', sans-serif;
}

nav {
    padding: 5px 7%;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

nav .menu {
    float: right;
}

nav .menu ul {
    list-style: none;
}

header .menu ul li {
    position: relative;
    float: left;
}

nav .menu ul li a {
    font-size: 20px;
    padding: 27px 17px;
    color: black;
    display: block;
    text-decoration: none;
    transition: all .5s ease;
}

nav .menu ul li a:hover {
    color: rgb(167, 14, 14);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

nav .menu ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background-color: white;
    display: none;
}

nav .menu ul li ul li {
    width: 100%;
    border-top: 1px solid white;
}

nav .menu ul li:hover>ul {
    display: initial;
}


#mainSlider{
    height: 350px;
    background: url('parallax.jpg') center center no-repeat;
    background-size: cover;
}

.slider{
    width: 100%;
    margin-bottom: 200px;
}

#mainCaption{
    height: 350px;
    background: rgba(0,0,0, .5);
}

.caption{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
}

.caption h3{
    font-size: 20px;
    letter-spacing: 4px;
    margin-bottom: 20px;
}

.content {
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 200px 50px;
    color: white;
}

.content h1{
    color: black;
    font-size: 32px;
}

.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 200px;
}

.card{
    width: 325px;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 2px black;
    margin: 20px;
}

.card img{
    width: 100%;
    height: auto;
}

.card-content{
    padding: 16px;
}

.card-content h3{
    font-size: 28px;
    margin-bottom: 8px;
    text-decoration: none;
    color: black;
    transition: all .5s ease;
}

.card-content h3:hover{
    color: rgb(167, 14, 14);
    text-decoration: none;
}

.card-content p{
    color: black;
    font-size: 15px;
    line-height: 1.3;
    text-transform: none;
}

.zoom {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    border-radius: 5px;
}

.zoom img {
    display: block;
    width: 100%;
    height: auto;
    transition: all .3s ease;
    border-radius: 5px;
}

.card:hover .zoom img{
    transform: scale(1.25);
}


footer{
    background: #00394f;
    padding-top: 50px;
    padding-bottom: 25px;
}

.container{
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.footer-content{
    width: 33.3%;
}

.footer-content h3{
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
    color: white;
}

.footer-content p{
    width:190px;
    margin: auto;
    padding: 7px;
    color: white;
    text-transform: none;
}

.footer-content ul{
    text-align: center;
    text-decoration: none;
    color: white;
}

.list a{
    text-decoration: none;
    color: white;
    text-align: center;
    letter-spacing: 2px;
    transition: .3s ease;
    list-style-type:none;
    padding: 7px;
    position: relative;
    width: auto;
}

.list a:hover{
    color: rgb(167, 14, 14);
}

.list li{
    width: auto;
    text-align: center;
    list-style-type:none;
    padding: 7px;
    position: relative;
    text-decoration: none;
    color: white;
}


.social-icons{
    text-align: center;
    padding: 0;
}

.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}

.social-icons i{
    color: white;
    font-size: 25px;
}

.social-icons i:hover{
    color: rgb(167, 14, 14);
}

.rehberAciklama {
    text-align: center;
    margin-bottom: 145px; 
}

.rehberAciklama p {
    text-align: left;
    margin: 0 auto;
    max-width: 1000px;
    font-size: 20px;
    text-transform: none;
}


.rehberAciklama h3{
    text-align: left;
    max-width: 1000px;
    font-size: 25px;
    margin: 0 auto;
}

.container-wrapper{
    display: flex;
    flex-direction: row;
    background-color: white;
}

.sidebar {
    background-color: white;
    color: black;
    width: 250px;
    position: relative;
    height: 100%;
    margin-right: 18px;
}

.sidebar h2 {
    color: black;
    font-size: 1.7em;
    margin-bottom: 15px;
    text-align: center;
    letter-spacing: 1px;
}

.sidebar hr {
    width: 250px;
    border: 1px solid black;
}


.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
    text-align: center;
}

.sidebar a {
    color: rgb(167, 14, 14);
    text-decoration: none;
    font-size: 1.2em;
    text-align: center;
}

.sidebar a:hover {
    color: black;
}


